.Welcome {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
}
.WelcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.WelcomeRight {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LandingDust {
  border-radius: 50%; /* Makes it a circle */
  position: absolute;
  top: 45%; /* Centered vertically  */
  left: 20%; /* Centered horizontally */
  z-index: 0; /* Behind other elements */
  opacity: 0.3; /* More transparent than the duster */
}

.WelcomeTitle {
  z-index: 1;
  /* font-family: "Montserrat"; */
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  /* margin-top: 8vh; */
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 300;
  font-family: "Orbitron", sans-serif;
}
.Subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  /* color: rgba(255, 255, 255, 0.501); */
  background: linear-gradient(270deg, #ffa730 0%, #ef4040 25.67%, #c21292 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.image-container {
  position: relative;
}
.Me {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 10vw; */
  object-fit: cover;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  position: relative;
  z-index: 1;
}
.circular-gradient {
  width: 100px; /* Adjust the size of the circle */
  height: 100px; /* Adjust the size of the circle */
  border-radius: 50%; /* This creates a circle by setting border-radius to 50% */
  background: linear-gradient(270deg, #096170 0%, #495dcf 66.67%, #945dd6 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for visual appeal */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0.3;
}
.circular-gradient-behind {
  width: 100px; /* Adjust the size of the circle */
  height: 100px; /* Adjust the size of the circle */
  border-radius: 50%; /* This creates a circle by setting border-radius to 50% */
  background: linear-gradient(270deg, #096170 0%, #495dcf 66.67%, #945dd6 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for visual appeal */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0.5;
}

.WhiteText {
  color: white;
  font-size: 45px;
}
